@charset "utf-8";

*{
	margin:0 auto;
	padding:0;
	list-style:none;
	font-family: 'Noto Sans KR', sans-serif;
	color:#333333;
}
body{
	width:100%;
	background-color:#ffffff;
	font-size:20px;
}

a{
	text-decoration:none;
	display:block;
}