.gallery .grid-container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: grid;
    max-width: 100rem;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 0.5rem;
}
.gallery .grid-container .grid-item {
    border-radius: 2rem;
    overflow: hidden;
    visibility: hidden;
}
.gallery .grid-container img {
    width: 100%;
}
