/* 메인 모든 카테고리 */
a {
    text-decoration: none;
}

.category_all {
    display: none;
}

.category_all:hover {
    display: block;
}

.category_all:hover .category_all_button .h_header_button {
    background-color: #f5f7f8;
    border-radius: 4px;
}

.category_all:hover .h_header_button {
    background-color: #f5f7f8;
    border-radius: 4px;
}

.category_all_button:hover .h_header_button {
    background-color: #f5f7f8;
    border-radius: 4px;
}

.category_all_button:hover .category_all {
    display: block;
}

.h_center {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.h_row_center {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h_column_center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h_hover_button:hover {
    background-color: rgb(245, 247, 248);
}

.h_header_button:hover {
    background-color: rgb(245, 247, 248);
    border-radius: 4px;
}



