.viewport {
    width: 1274px;
    overflow: hidden;
    margin: 0 auto;
}

.flipsnap {
    width: 1370px; /* 274px(item width) * 5(item count) */
}

.flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.item {
    float: left;
    width: 270px;
    font-size: 50px;
    text-align: center;
    padding: 50px 10px 50px 10px;
}



.showbox{
	position: relative;
	min-width: 234px;
	margin: 0px 10px 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

/*inside part of item*/
.slide-up{
	position: relative;
	width: 100%;
	height: 150px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	overflow: hidden;
}

.slide-up>img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide-down{
	position: relative;
	padding: 10px 14px 22px;
}
/*-----------swiper------------------*/

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}